<nav>
    <div class="nav-wrapper teal">
        <div class="col s12">
            <a href="/" >
                <span class="brand-logo">Extra</span>
            </a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <% if (!user) { %>
                    <li><a class="btn-flat white-text" href="/auth/login">login</a></li>
                    <li><a class="btn-flat white-text" href="/auth/signup">signup</a></li>
                <% } else { %>
                    <li><a class="btn-flat white-text" href="/collections"> My collections</a></li>
                    <li><a class="btn-flat white-text" href="/auth/logout">logout</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<ul id="mobile-nav" class="sidenav">
    <% if (!user) { %>
        <li><a class="btn-flat" href="/auth/login">login</a></li>
        <li><a class="btn-flat" href="/auth/signup">signup</a></li>
    <% } else { %>
        <li><a class="btn-flat" href="/collections"> My collections</a></li>
        <li><a class="btn-flat" href="/auth/logout">logout</a></li>
    <% } %>
</ul>

