<nav>
<div class="nav-wrapper teal">
<span class="brand-logo">Extra</span>
        <ul class="right">
            <li><a class="btn-flat white-text" href="/auth/login">/auth/login</a></li>
            <li><a class="btn-flat white-text" href="/auth/signup">/auth/signup</a></li>
            <li><a class="btn-flat white-text" href="/collections">/collections</a></li>
            <li><a class="btn-flat white-text" href="/cards/new">/cards/new</a></li>
        </ul>
    </div>
</nav>