<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Extra</title>
    </head>
    <body>
    <%- include('partials/nav')%>
    <div>
    </div>
    <%- body %>
    <!-- Compiled JavaScript -->
    </script>
    <%- include('partials/alerts') %>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/side-nav.js"></script>
    </body>
</html>
