<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Extra</title>
    </head>
    <body>
    <%- include('partials/nav')%>
    <div class="container">
    <%- JSON.stringify(currentUser) %>
    </div>
    <%- body %>
    <!-- Compiled JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    document.body.addEventListener('DOMContentLoaded', () => {
      console.log('Trying to initialize M')
      console.log(M)
      M.AutoInit()
    })
    </script>
    <%- include('partials/alerts') %>
    </body>
</html>
