/* collections-index */

[contenteditable],
[contenteditable]:focus {
    outline: none;
}

.new-card {
    min-height: 25vh;
    justify-content: center;
}

.full-page-content {
    min-height: 65vh
}

.form-width {
    min-width: 50vw
}

.collections-index-select-btn {
    margin: 2px 0;
}

.show-collection-card {
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.show-collection-card.front {
    align-items: center;
}

textarea {
    border: none;
    outline: none;
    resize: none;
}