/* collections-index */

[contenteditable],
[contenteditable]:focus {
    outline: none;
}

.new-card {
    min-height: 25vh;
    justify-content: center;
}

.full-page-content {
    min-height: 65vh
}

.form-width {
    min-width: 50vw
}