/* collections-index */

[contenteditable],
[contenteditable]:focus {
    outline: none;
}
#collections .card:not([contenteditable]) {
    min-width: 300px;
    margin: .6rem .45rem;
}
#collections .edit-buttons .btn {
    width: 100%;
    margin: 5px 0;
    text-align: left;
}

#collections .edit-buttons {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}


.card-large {
    min-height: 25vh;
    justify-content: center;
}

.full-page-content {
    min-height: 65vh
}

.form-width {
    min-width: 50vw
}

.show-collection-card {
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.show-collection-card.front {
    align-items: center;
}

textarea {
    border: none;
    outline: none;
    resize: none;
}

/* new card page */
/* from https://github.com/Dogfalo/materialize/issues/4343 */
.select-wrapper input.select-dropdown,
.select-wrapper input.select-dropdown:focus,
.select-wrapper input.select-dropdown:active {
    padding-right: 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #ff9800;
}

.select-wrapper li.optgroup > span {
    color: #ff9800;
}

.select-wrapper li.optgroup-option > span {
    color: rgba(0,0,0,.87);
}

.button-wrap {
    padding: 1em;
}
.btn.primary {
    width: 8em;
}

.btn.primary10 {
    width: 10em
}

/* flex utility classes */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column; 
}

.flex.align-items-center,
.flex-col.align-items-center {
    align-items: center;
}

.flex-col.justify-content-center
.flex.justify-content-center {
    justify-content: center;
}