<h2>COLLECTIONS INDEX</h2>

<div class="container">
    <h3>User</h3>
    <img class="left" src="<%- profileImage %>" alt="user profile image">
    <p>User name: <%= currentUser.name %></p>
    <p>Number of collections: [placeholder]</p>
    <p>Number of cards: [placeholder]</p>
</div>

<div class="container">
    <h3>Collections</h3>
    <form action="/collections/new" method="GET">
        <button class="btn-large" type="submit" id="add-collection" > 
            <i class="material-icons left">
                add
            </i>
            Add a collection
        </button>
    </form>
</div>