<h1><%= collection.name %> <a href="/cards/new" class="btn">Add a new card</a> </h1>

<div>
<%  if (collection.cards) {%>
    <% collection.cards.forEach(card => { %>
        <div class="row">
            <div class="front">
                <%= card.front   %>
            </div>
            <div class="back">
                <%= card.back %>
            </div>
        </div>
    <% }) %>
<% } %>
</div>
