<h2>COLLECTIONS INDEX</h2>

<div class="container">
    <h3>User</h3>
    <img class="left" src="<%- profileImage %>" alt="user profile image">
    <p>User name: <%= currentUser.name %></p>
    <p>Number of collections: [placeholder]</p>
    <p>Number of cards: [placeholder]</p>
</div>

<div class="container">
    <h3>Collections</h3>
        <a class="btn-large" href="new"> 
            <i class="material-icons left">
                add
            </i>
            Add a collection
        </a>
</div>
<div id="collections">
    <% user.collections.forEach(set => { %>
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title">
                    <%= set.name %>
                </span>
                <p>
                    <%= set.description%>
                </p>
            </div>
        </div>
    <% }) %>
</div>