
<h2> Add new card </h2>
<div class="container">

<% var inputCols = 'col s12 m6 l4 xl3' %>
<div class="row">

    <div class="input-field <%= inputCols %>">
        <select name="collection-picker" id="collection-picker">
            <%user.collections.forEach(collection => { %>
            <option <%= collection.id == referer? 'selected=""' : '' %> value="<%= collection.id %>"> <%=collection.name%></option>
            <% }) %>
        </select>
        <label for="collection-picker">Choose A collection</label>
    </div>

    <button id="add-card-to-collection-btn" class="btn">Add card to collection</button>

</div>


<div id="settings-fab" class="fixed-action-btn">
    <button class="btn-floating btn-large teal">
        <i class="large material-icons" style="font-size:2.5rem">add</i>
    </button>
    <ul>
        <li>
            <button id="vocabulary-btn" class="btn-floating orange btn-large tooltipped" data-position="left" data-tooltip="dictionary definition flashcard">
                <i class="material-icons">text_rotation_none</i>
            </button>
        </li>
        <li>
            <button id="markdown-btn" class="btn-floating light-blue btn-large tooltipped" data-position="left" data-tooltip="markdown flashcard">
                <i class="material-icons">code</i>
            </button>
        </li>
    </ul>

</div>
<div id="house-of-cards">
    <div id="row-0" class="row">
        <div class="col s12 m6">
            <div class="card card-large valign-wrapper">
                <div class="card-content valign-wrapper">
                    <span contenteditable class="card-title front-text"> Front of card </span>
                </div>
            </div>
        </div>
        
        <div class="col s12 m6">
            <div class="card card-large valign-wrapper">
                <div class="card-content valign-wrapper">
                    <span contenteditable class="center-align back-text"> Back of card</span>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/js/cards-new.js"></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>