
<h2> Add new card </h2>
<div class="container">

<% var inputCols = 'col s12 m6 l4 xl3' %>
<div class="row">

    <div class="input-field <%= inputCols %>">
        <select name="collection-picker" id="collection-picker">
            <%user.collections.forEach(collection => { %>
            <option value="<%= collection.id %>"> <%= '[' + collection.id + '] ' + collection.name%></option>
            <% }) %>
        </select>
        <label for="collection-picker">Choose A collection</label>
    </div>

    <button id="add-card-to-collection" class="btn">Add a card</button>

</div>

<div class="row">
    
    <div class="col s12 m6">
        <div class="card new-card valign-wrapper">
            <div class="card-content valign-wrapper">
                <span contenteditable class="card-title" id="front"> Front of card </span>
            </div>
        </div>
    </div>
    
    <div class="col s12 m6">
        <div class="card new-card valign-wrapper">
            <div class="card-content valign-wrapper">
                <span contenteditable class="center-align" id="back"> Back of card</span>
            </div>
        </div>
    </div>

</div>
</div>
<script src="/js/cards-new.js"></script>